# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

IDI_ICON1	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\rawshop_ico.ico"
IDI_ICON2	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\Back_arrow_to_first_track_512.ico"
IDI_ICON3	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\Close_button_512.ico"
IDI_ICON4	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\curved.ico"
IDI_ICON5	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\HAB_Logo.ico"
IDI_ICON6	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\lists8.ico"
IDI_ICON7	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\Logo_HS_orig.ico"
IDI_ICON8	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\opened18.ico"
IDI_ICON9	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\Raw_file_format_symbol_256.ico"
IDI_ICON10	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\Storage_diskette_512.ico"
IDI_ICON11	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\sync1.ico"
IDI_ICON12	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\together.ico"
IDI_ICON13	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\Zoom_1_1.ico"
IDI_ICON14	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\Zoom_in_button_512.ico"
IDI_ICON15	ICON	DISCARDABLE	"C:\\Users\\Internet\\Documents\\RAWShop2\\Zoom_out_512.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,0,0,0
	PRODUCTVERSION 0,0,0,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904b0"
			BEGIN
				VALUE "CompanyName", "\0"
				VALUE "FileDescription", "\0"
				VALUE "FileVersion", "0.0.0.0\0"
				VALUE "LegalCopyright", "\0"
				VALUE "OriginalFilename", "RAWShop.exe\0"
				VALUE "ProductName", "RAWShop\0"
				VALUE "ProductVersion", "0.0.0.0\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0409, 1200
		END
	END
/* End of Version info */

